.info-wrapper {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
}

.list-item {
  display: flex;
  /* flex-basis: 100%; */
  background-color: #f9f9f9;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  margin: 5px 0;
  border-radius: 0 0 5px 30px;
}

.list {
  display: flex;
  flex-direction: column;
}

.image {
  max-height: 150px;
  min-width: 150px;
  overflow: hidden;
  /* flex-basis: 30%; */
  align-self: center;
  opacity: 0.6;
  border-radius: 5px 30px;
  margin-left: 5px;
  width: 150px;
}

.image img {
  max-height: 100%;
  width: auto;
}

.list-item:hover {
  cursor: pointer;
}

.list-item:hover .image {
  opacity: 1;
}

.list-item:hover h4 {
  color: #2e7a7a;
}

.list-item:hover .description {
  opacity: 0.8;
}

.list-item h4 {
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  background-color: #ffffff;
  color: #5b6464;
  border-radius: 10px;
}

.description {
  background-color: #ffffff;
  height: 100%;
  color: #769898;
  text-align: left;
  padding: 15px;
  border-radius: 5px 30px;
  min-width: 250px;
}
