.error {
  color: #af0000;
  margin: 0;
  margin-top: 3px;
}

.info {
  color: #017969;
}

.container {
  flex-basis: 65%;
  margin: auto;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-basis: 95%;
  }
}

.page {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #f4f4f4 0%,
    #fefefe 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #f4f4f4 0%,
    #fefefe 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #f4f4f4 0%,
    #fefefe 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  padding: 15px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

a {
  color: #af4600;
  text-decoration: none;
}

a:hover {
  color: #d85803;
  text-decoration: underline;
}
