input {
  min-height: 25px;
  border: 1px solid #cccccc;
  padding: 5px;
}

input::placeholder {
  color: #cccccc;
}

.form .form-group label.required::after {
  content: "*";
  color: #cc0000;
}

.compact-form {
  max-width: 50%;
}

.form .form-group {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.form .form-group label {
  text-align: left;
}
.form .form-group div {
  display: flex;
}

.form .form-group div input {
  flex-basis: 100%;
}

.form {
  padding: 20px;
}

.form button {
  margin: 5px;
}

.form label {
  line-height: 3em;
}
