.home-page .workshop-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: row dense;
}

@media only screen and (max-width: 1000px) {
  .home-page .workshop-wrapper {
    grid-template-columns: 1fr;
  }
}

.event-display {
  background-color: #fefefe;
  margin: 5px;
  padding: 15px;
}

.event-display h3 {
  text-align: left;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 0.8em;
}

.search-wrapper {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
